
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #c5c5c5;
  color: white;
  padding: 0 20px;
  flex-direction: row;
}

.logo {
  font-size: 24px;
}

.userinfo {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.username {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
